<div class="element-left">
  <div class="element-bg-img"><img [src]="selectedResort.photoNames[0] | imagePath" alt="" class="img-responsive"> </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li><a href="#" (click)="selectedCountry = ''" [ngClass]="{selected: selectedCountry === ''}">All</a></li>
        <li><a href="#" (click)="selectedCountry = 'Germany'" [ngClass]="{selected: selectedCountry === 'Germany'}">Germany</a></li>
        <li><a href="#" (click)="selectedCountry = 'Austria'" [ngClass]="{selected: selectedCountry === 'Austria'}">Austria</a></li>
        <li><a href="#" (click)="selectedCountry = 'Italy'" [ngClass]="{selected: selectedCountry === 'Italy'}">Italy</a></li>
      </ul>
    </div>
    <!--TODO: replace with ngRepeat later-->
    <div class="village">
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div *ngFor="let resort of resortsList | propertyFilter:'country':selectedCountry; let i = index; let isOdd=odd" [ngClass]="{odd: isOdd, selected: selectedResort.id === resort.id}" class="activity-row" (click)="onResortSelect.emit(resort)">
            <div class="activity-desc">
              <h5>{{resort.name}}</h5>
              <p>{{resort.country}}</p>
              <h6>Elevation amplitude: {{resort.highestPoint - resort.lowestPoint}}m</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li><img (mouseover)="selectPhoto(i, $event.target.src)" [src]="resort.photoNames[0] | imagePath"  alt=""/></li>
                <li><img (mouseover)="selectPhoto(i, $event.target.src)" [src]="resort.photoNames[1] | imagePath"  alt=""/></li>
              </ul>
            </div>
            <div class="clear"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
